Repository not-three/sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, lib, types, code, package

ci: fix missing permissions
  .github/workflows/pr.yml
Labels: ci

ci: updates and fixes
  .github/workflows/nightly.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
Labels: ci

chore: updated readme
  README.md
Labels: none

chore: updated dependencies
  package.json
  pnpm-lock.yaml
Labels: package

deploy: 6983373f043b8eb3296fc0034d8aea93d057ab77
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

Create CNAME
  CNAME
Labels: none

ci: fix wrong registry
  .github/workflows/publish.yml
Labels: ci

deploy: a551b14c3c62978b5644e95a3a478ea9f30ed072
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

feat: added curl share generators
  src/lib/ShareGenerator.ts
Labels: lib, code

deploy: ee673ebd86a694fe5e2aeb8fb85887e82fe08992
  nightly/assets/search.js
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

Deploying to docs from @ not-three/sdk@ee673ebd86a694fe5e2aeb8fb85887e82fe08992 🚀
  assets/search.js
  classes/Crypto.html
  classes/FileDownload.html
  classes/FileUpload.html
  classes/FilesAPI.html
  classes/FragmentData.html
  classes/Not3Client.html
  classes/NotesAPI.html
  classes/ShareGenerator.html
  classes/SubClient.html
  classes/SystemAPI.html
  interfaces/ClientOptions.html
  interfaces/CreateRequest.html
  interfaces/CreateResponse.html
  interfaces/DeleteRequest.html
  interfaces/ErrorResponse.html
  interfaces/FetchResponse.html
  interfaces/FileCloseUploadRequest.html
  interfaces/FileGetResponse.html
  interfaces/FileListResponse.html
  interfaces/FileUploadPartResponse.html
  interfaces/FileUploadRequest.html
  interfaces/FileUploadResponse.html
  interfaces/InfoResponse.html
  interfaces/ShareOptions.html
  interfaces/StatsResponse.html
  types/CryptoMode.html
  types/FileUploadProgress.html
  types/FileUploadProgressHook.html
  types/FileUploadState.html
  types/GetBytesFn.html
  types/SetBytesFn.html
Labels: none

.github/labeler.yml:

ci:
  - .github/workflows/*
lib:
  - src/lib/**
types:
  - src/types/**
code:
  - src/**
package:
  - package.json
  - pnpm-lock.yaml
