Repository not-three/sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, lib, types, code, package

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: [.github/workflows/*]
lib:
- changed-files:
  - any-glob-to-any-file: [src/lib/**]
types:
- changed-files:
  - any-glob-to-any-file: [src/types/**]
code:
- changed-files:
  - any-glob-to-any-file: [src/**]
package:
- changed-files:
  - any-glob-to-any-file: [package.json, pnpm-lock.yaml]

deploy: c66c74ab31d8fcb14f9243787f0d642bdc36d645
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

chore: added pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

deploy: 5fa99b8107727bbd628e66600fcdaf3ea050b382
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

chore: updated dependencies; closes #12 #23 #24 #25
  package.json
  pnpm-lock.yaml
Labels: package

fix: remove wrong plugin import; exlcude tests from lint
  eslint.config.mjs
Labels: none

chore: added dependabot groups
  .github/dependabot.yml
Labels: none

deploy: cfa3363e449e69d86a0054c5e9b24ad767efa79a
  nightly/assets/hierarchy.js
  nightly/assets/main.js
  nightly/assets/search.js
  nightly/assets/style.css
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/hierarchy.html
  nightly/index.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

Deploying to docs from @ not-three/sdk@cfa3363e449e69d86a0054c5e9b24ad767efa79a 🚀
  assets/hierarchy.js
  assets/main.js
  assets/search.js
  assets/style.css
  classes/Crypto.html
  classes/FileDownload.html
  classes/FileUpload.html
  classes/FilesAPI.html
  classes/FragmentData.html
  classes/Not3Client.html
  classes/NotesAPI.html
  classes/ShareGenerator.html
  classes/SubClient.html
  classes/SystemAPI.html
  hierarchy.html
  index.html
  interfaces/ClientOptions.html
  interfaces/CreateRequest.html
  interfaces/CreateResponse.html
  interfaces/DeleteRequest.html
  interfaces/ErrorResponse.html
  interfaces/FetchResponse.html
  interfaces/FileCloseUploadRequest.html
  interfaces/FileGetResponse.html
  interfaces/FileListResponse.html
  interfaces/FileUploadPartResponse.html
  interfaces/FileUploadRequest.html
  interfaces/FileUploadResponse.html
  interfaces/InfoResponse.html
  interfaces/ShareOptions.html
  interfaces/StatsResponse.html
  types/CryptoMode.html
  types/FileUploadProgress.html
  types/FileUploadProgressHook.html
  types/FileUploadState.html
  types/GetBytesFn.html
  types/SetBytesFn.html
Labels: none

deploy: 6e57700516c1d28a81acc1d432c999130479d4f9
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: 0d88faaf15623307f1f209bbb290a8ecd1346ace
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: 1ca6b5e452ed02613fe1d3588546af0415dd1ea0
  nightly/assets/main.js
  nightly/assets/style.css
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/index.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

fix: buffer to base64 conversion using safe iteration to avoid argument overflow
  src/lib/Crypto.ts
Labels: lib, code

ci: added missing permissions
  .github/workflows/pr.yml
Labels: ci

chore: added pnpm workspace & packageManager in package.json
  package.json
  pnpm-workspace.yaml
Labels: package

deploy: 3c7d8c928efe228457278a86df8893c338b6bc6d
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

Deploying to docs from @ not-three/sdk@3c7d8c928efe228457278a86df8893c338b6bc6d 🚀
  assets/main.js
  assets/style.css
  classes/Crypto.html
  classes/FileDownload.html
  classes/FileUpload.html
  classes/FilesAPI.html
  classes/FragmentData.html
  classes/Not3Client.html
  classes/NotesAPI.html
  classes/ShareGenerator.html
  classes/SubClient.html
  classes/SystemAPI.html
  index.html
  interfaces/ClientOptions.html
  interfaces/CreateRequest.html
  interfaces/CreateResponse.html
  interfaces/DeleteRequest.html
  interfaces/ErrorResponse.html
  interfaces/FetchResponse.html
  interfaces/FileCloseUploadRequest.html
  interfaces/FileGetResponse.html
  interfaces/FileListResponse.html
  interfaces/FileUploadPartResponse.html
  interfaces/FileUploadRequest.html
  interfaces/FileUploadResponse.html
  interfaces/InfoResponse.html
  interfaces/ShareOptions.html
  interfaces/StatsResponse.html
  types/CryptoMode.html
  types/FileUploadProgress.html
  types/FileUploadProgressHook.html
  types/FileUploadState.html
  types/GetBytesFn.html
  types/SetBytesFn.html
Labels: none

deploy: f372ff3f6496add9088d1d7f33068e42a7ec404b
  nightly/assets/style.css
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: 969d64aa7c7eae7511f4b9a7dea173f0eeee5f19
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: fdb02f4c0a4fcef3ead4ab2d94028b891c1c31ff
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: 59e8e19bbc0499c074bc7047572c1fed3a94501d
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/index.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: 73adbd313f0500e350f61f88f716c125e54ac2be
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: c400aef24b640fb87bb857290f85ed666fdba96e
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: 721b26fd3792e9c6992250f98ad2deb711b95092
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: ed6f3893de2079ff71952242b17ec6997870b697
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: 93449754f5130e98247bc9c4b41415d83ec7db88
  nightly/assets/main.js
  nightly/assets/style.css
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/index.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: e5557401ed0bb3be57eadd01495eb13dbe952b9d
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

deploy: f90d741c4ffefd1d79119ea73e94cd437a50b7cd
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

fix(types): satisfy stricter TypeScript 6.0 checks
  src/clients/Client.ts
  src/lib/FileDownload.ts
  src/lib/FileUpload.ts
Labels: lib, code

deploy: 0df10aa6936a5448d367a411670be2a52184b1f1
  nightly/assets/icons.js
  nightly/assets/icons.svg
  nightly/assets/main.js
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

fix(crypto): serialize strings as UTF-8 to fix unicode corruption and large-string overflow
  src/lib/Crypto.test.js
  src/lib/Crypto.ts
Labels: lib, code

fix(share): url-encode seed in noteServerSideDecrypt to preserve '+' and '/'
  src/lib/ShareGenerator.test.js
  src/lib/ShareGenerator.ts
Labels: lib, code

fix(files): throw a clear error when upload response lacks an ETag header
  src/clients/Files.ts
Labels: code

fix(crypto): decode legacy Latin-1 payloads as UTF-8 fallback
  src/clients/Files.ts
  src/lib/Crypto.test.js
  src/lib/Crypto.ts
Labels: lib, code

deploy: 4247631349067e131e1f5dea7f1bae2ab970f0b3
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

test: add comprehensive test coverage across the SDK
  src/clients/Client.test.js
  src/clients/Files.test.js
  src/clients/Notes.test.js
  src/clients/System.test.js
  src/lib/Crypto.test.js
  src/lib/FileDownload.test.js
  src/lib/FileUpload.test.js
  src/lib/FragmentData.test.js
  src/lib/ShareGenerator.test.js
Labels: lib, code

test(fragment): deterministically cover '+' and '/' seeds
  src/lib/FragmentData.test.js
Labels: lib, code

deploy: 378db40e862c65066b36a3d38dca6a8d9c99b2d6
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

ci: add --provenance flag to NPM publish command
  .github/workflows/publish.yml
Labels: ci

deploy: 7ee0e5bfdfb8769361ea1be1eb1a11d12869bf2b
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

ci: Update Node.js version in publish workflow
  .github/workflows/publish.yml
Labels: ci
