Repository not-three/sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, lib, types, code, package

deploy: 2d7df3880c2eaefbd4d93ae5b0f05dc19191c0e7
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

Deploying to docs from @ not-three/sdk@2d7df3880c2eaefbd4d93ae5b0f05dc19191c0e7 🚀
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/style.css
  classes/Crypto.html
  classes/FileDownload.html
  classes/FileUpload.html
  classes/FilesAPI.html
  classes/FragmentData.html
  classes/Not3Client.html
  classes/NotesAPI.html
  classes/ShareGenerator.html
  classes/SubClient.html
  classes/SystemAPI.html
  index.html
  interfaces/ClientOptions.html
  interfaces/CreateRequest.html
  interfaces/CreateResponse.html
  interfaces/DeleteRequest.html
  interfaces/ErrorResponse.html
  interfaces/FetchResponse.html
  interfaces/FileCloseUploadRequest.html
  interfaces/FileGetResponse.html
  interfaces/FileListResponse.html
  interfaces/FileUploadPartResponse.html
  interfaces/FileUploadRequest.html
  interfaces/FileUploadResponse.html
  interfaces/InfoResponse.html
  interfaces/ShareOptions.html
  interfaces/StatsResponse.html
  types/CryptoMode.html
  types/FileUploadProgress.html
  types/FileUploadProgressHook.html
  types/FileUploadState.html
  types/GetBytesFn.html
  types/SetBytesFn.html
Labels: none

chore(deps): upgrade pnpm to 11.9.0 and apply audit fixes
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package

ci: bump PR and nightly workflows to Node 24 for pnpm 11
  .github/workflows/nightly.yml
  .github/workflows/pr.yml
Labels: ci

deploy: 7d2f8d56added42dad5692c4288024df63ad2a64
  nightly/classes/Crypto.html
  nightly/classes/FileDownload.html
  nightly/classes/FileUpload.html
  nightly/classes/FilesAPI.html
  nightly/classes/FragmentData.html
  nightly/classes/Not3Client.html
  nightly/classes/NotesAPI.html
  nightly/classes/ShareGenerator.html
  nightly/classes/SubClient.html
  nightly/classes/SystemAPI.html
  nightly/interfaces/ClientOptions.html
  nightly/interfaces/CreateRequest.html
  nightly/interfaces/CreateResponse.html
  nightly/interfaces/DeleteRequest.html
  nightly/interfaces/ErrorResponse.html
  nightly/interfaces/FetchResponse.html
  nightly/interfaces/FileCloseUploadRequest.html
  nightly/interfaces/FileGetResponse.html
  nightly/interfaces/FileListResponse.html
  nightly/interfaces/FileUploadPartResponse.html
  nightly/interfaces/FileUploadRequest.html
  nightly/interfaces/FileUploadResponse.html
  nightly/interfaces/InfoResponse.html
  nightly/interfaces/ShareOptions.html
  nightly/interfaces/StatsResponse.html
  nightly/types/CryptoMode.html
  nightly/types/FileUploadProgress.html
  nightly/types/FileUploadProgressHook.html
  nightly/types/FileUploadState.html
  nightly/types/GetBytesFn.html
  nightly/types/SetBytesFn.html
Labels: none

Deploying to docs from @ not-three/sdk@7d2f8d56added42dad5692c4288024df63ad2a64 🚀
  classes/Crypto.html
  classes/FileDownload.html
  classes/FileUpload.html
  classes/FilesAPI.html
  classes/FragmentData.html
  classes/Not3Client.html
  classes/NotesAPI.html
  classes/ShareGenerator.html
  classes/SubClient.html
  classes/SystemAPI.html
  interfaces/ClientOptions.html
  interfaces/CreateRequest.html
  interfaces/CreateResponse.html
  interfaces/DeleteRequest.html
  interfaces/ErrorResponse.html
  interfaces/FetchResponse.html
  interfaces/FileCloseUploadRequest.html
  interfaces/FileGetResponse.html
  interfaces/FileListResponse.html
  interfaces/FileUploadPartResponse.html
  interfaces/FileUploadRequest.html
  interfaces/FileUploadResponse.html
  interfaces/InfoResponse.html
  interfaces/ShareOptions.html
  interfaces/StatsResponse.html
  types/CryptoMode.html
  types/FileUploadProgress.html
  types/FileUploadProgressHook.html
  types/FileUploadState.html
  types/GetBytesFn.html
  types/SetBytesFn.html
Labels: none

feat: add p2p types and error classes
  src/index.ts
  src/lib/P2PErrors.test.js
  src/lib/P2PErrors.ts
  src/types/sdk/P2P.ts
Labels: lib, types, code

feat: add p2p flag to FragmentData
  src/lib/FragmentData.test.js
  src/lib/FragmentData.ts
Labels: lib, code

feat: add ShareGenerator.p2pUi
  src/lib/ShareGenerator.test.js
  src/lib/ShareGenerator.ts
Labels: lib, code

feat: add P2PClient sub-client and rtc/webSocket injection options
  src/clients/Client.ts
  src/clients/P2P.test.js
  src/clients/P2P.ts
  src/index.ts
  src/types/sdk/ClientOptions.ts
Labels: types, code

feat: add p2p wire protocol module
  src/index.ts
  src/lib/P2PProtocol.test.js
  src/lib/P2PProtocol.ts
Labels: lib, code

feat: add p2p signaling client
  src/index.ts
  src/lib/P2PSignaling.test.js
  src/lib/P2PSignaling.ts
Labels: lib, code

feat: add webrtc connection helper and test fakes
  src/index.ts
  src/lib/P2PConnection.test.js
  src/lib/P2PConnection.ts
  src/lib/P2PFakes.js
Labels: lib, code

feat: add P2PReceiver
  src/index.ts
  src/lib/P2PReceiver.test.js
  src/lib/P2PReceiver.ts
Labels: lib, code

feat: add P2PSender
  src/index.ts
  src/lib/P2PFakes.js
  src/lib/P2PSender.test.js
  src/lib/P2PSender.ts
Labels: lib, code

test: add p2p loopback end-to-end suite
  src/lib/P2PLoopback.test.js
  src/lib/P2PReceiver.ts
  src/lib/P2PSender.ts
Labels: lib, code

docs: document p2p transfer classes
  README.md
  src/lib/P2PConnection.ts
  src/lib/P2PSignaling.ts
Labels: lib, code

docs(p2p): add browser and Node usage examples
  README.md
Labels: none

fix(p2p): preserve gateway errors in transfers
  src/lib/P2PReceiver.test.js
  src/lib/P2PReceiver.ts
  src/lib/P2PSender.test.js
  src/lib/P2PSender.ts
Labels: lib, code

fix(p2p): buffer ICE candidates until remote SDP
  src/lib/P2PConnection.test.js
  src/lib/P2PConnection.ts
Labels: lib, code

fix(p2p): avoid duplicate NACKs for one gap
  src/lib/P2PReceiver.test.js
  src/lib/P2PReceiver.ts
Labels: lib, code

feat(sdk): add P2P file transfer (#81)
  README.md
  src/clients/Client.ts
  src/clients/P2P.test.js
  src/clients/P2P.ts
  src/index.ts
  src/lib/FragmentData.test.js
  src/lib/FragmentData.ts
  src/lib/P2PConnection.test.js
  src/lib/P2PConnection.ts
  src/lib/P2PErrors.test.js
  src/lib/P2PErrors.ts
  src/lib/P2PFakes.js
  src/lib/P2PLoopback.test.js
  src/lib/P2PProtocol.test.js
  src/lib/P2PProtocol.ts
  src/lib/P2PReceiver.test.js
  src/lib/P2PReceiver.ts
  src/lib/P2PSender.test.js
  src/lib/P2PSender.ts
  src/lib/P2PSignaling.test.js
  src/lib/P2PSignaling.ts
  src/lib/ShareGenerator.test.js
  src/lib/ShareGenerator.ts
  src/types/sdk/ClientOptions.ts
  src/types/sdk/P2P.ts
Labels: lib, types, code

fix(p2p): preserve completion reply and bound sender wait
  src/lib/P2PFakes.js
  src/lib/P2PLoopback.test.js
  src/lib/P2PReceiver.test.js
  src/lib/P2PReceiver.ts
  src/lib/P2PSender.test.js
  src/lib/P2PSender.ts
Labels: lib, code

fix(p2p): preserve completion reply and bound sender wait (#82)
  src/lib/P2PFakes.js
  src/lib/P2PLoopback.test.js
  src/lib/P2PReceiver.test.js
  src/lib/P2PReceiver.ts
  src/lib/P2PSender.test.js
  src/lib/P2PSender.ts
Labels: lib, code

feat(p2p): carry room membership and directed signaling
  src/lib/P2PSignaling.test.js
  src/lib/P2PSignaling.ts
Labels: lib, code

feat(p2p): add encrypted multi-peer room
  src/clients/P2P.test.js
  src/clients/P2P.ts
  src/index.ts
  src/lib/P2PConnection.ts
  src/lib/P2PFakes.js
  src/lib/P2PRoom.test.js
  src/lib/P2PRoom.ts
  src/lib/P2PRoomLoopback.test.js
Labels: lib, code

feat(p2p): gate receiver transfer on explicit acceptance
  src/lib/P2PLoopback.test.js
  src/lib/P2PReceiver.test.js
  src/lib/P2PReceiver.ts
Labels: lib, code

fix(p2p): flush sender abort before closing channel
  src/lib/P2PLoopback.test.js
  src/lib/P2PSender.ts
Labels: lib, code

docs(p2p): explain rooms and transfer consent
  README.md
  src/lib/P2PReceiver.ts
  src/lib/P2PRoom.test.js
  src/lib/P2PRoom.ts
  src/lib/P2PRoomLoopback.test.js
  src/lib/P2PSignaling.test.js
  src/lib/P2PSignaling.ts
Labels: lib, code

fix(p2p): discard pre-consent file frames before queueing
  src/lib/P2PReceiver.test.js
  src/lib/P2PReceiver.ts
Labels: lib, code

fix(p2p): stop waiting for abort drain after peer close
  src/lib/P2PReceiver.test.js
  src/lib/P2PReceiver.ts
Labels: lib, code

fix(p2p): keep room channel after message handler error
  src/lib/P2PRoom.ts
  src/lib/P2PRoomLoopback.test.js
Labels: lib, code

feat(sdk): add encrypted P2P rooms (#83)
  README.md
  src/clients/P2P.test.js
  src/clients/P2P.ts
  src/index.ts
  src/lib/P2PConnection.ts
  src/lib/P2PFakes.js
  src/lib/P2PLoopback.test.js
  src/lib/P2PReceiver.test.js
  src/lib/P2PReceiver.ts
  src/lib/P2PRoom.test.js
  src/lib/P2PRoom.ts
  src/lib/P2PRoomLoopback.test.js
  src/lib/P2PSender.ts
  src/lib/P2PSignaling.test.js
  src/lib/P2PSignaling.ts
Labels: lib, code

fix(sdk): remove README documentation and format P2P sources
  README.md
  src/clients/P2P.test.js
  src/clients/P2P.ts
  src/lib/FragmentData.test.js
  src/lib/FragmentData.ts
  src/lib/P2PConnection.test.js
  src/lib/P2PConnection.ts
  src/lib/P2PErrors.test.js
  src/lib/P2PErrors.ts
  src/lib/P2PFakes.js
  src/lib/P2PLoopback.test.js
  src/lib/P2PProtocol.test.js
  src/lib/P2PProtocol.ts
  src/lib/P2PReceiver.test.js
  src/lib/P2PReceiver.ts
  src/lib/P2PRoom.test.js
  src/lib/P2PRoom.ts
  src/lib/P2PRoomLoopback.test.js
  src/lib/P2PSender.test.js
  src/lib/P2PSender.ts
  src/lib/P2PSignaling.test.js
  src/lib/P2PSignaling.ts
  src/lib/ShareGenerator.test.js
  src/lib/ShareGenerator.ts
Labels: lib, code

ci(deps): update checkout setup-node and labeler actions
  .github/workflows/nightly.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
Labels: ci

chore(deps): refresh SDK dependencies and secure axios
  package.json
  pnpm-lock.yaml
Labels: package

fix(deps): remove vulnerable sprintf dependency path
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package

ci(deps): ignore unsupported TypeScript major updates
  .github/dependabot.yml
Labels: none

feat(share): add command alternatives catalog
  src/index.ts
  src/lib/ShareGenerator.test.js
  src/lib/ShareGenerator.ts
  src/types/sdk/ShareAlternative.ts
  src/types/sdk/ShareOptions.ts
Labels: lib, types, code

.github/labeler.yml:

ci:
- changed-files:
  - any-glob-to-any-file: [.github/workflows/*]
lib:
- changed-files:
  - any-glob-to-any-file: [src/lib/**]
types:
- changed-files:
  - any-glob-to-any-file: [src/types/**]
code:
- changed-files:
  - any-glob-to-any-file: [src/**]
package:
- changed-files:
  - any-glob-to-any-file: [package.json, pnpm-lock.yaml]
